.landing {
  background-image: url("./Assets/Images/landing1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.middle {
  background-image: url("./Assets/Images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Styles for screens smaller than 640px (phones) */
@media (max-width: 639px) {
  .landing {
    background-image: url("./Assets/Images/landing1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }

  .middle {
    background-image: url("./Assets/Images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
}

/* Styles for screens between 640px and 1023px (tablets) */
@media (min-width: 640px) and (max-width: 1023px) {
  /* Your CSS styles for tablets go here */
  .landing {
    background-image: url("./Assets/Images/landing1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }

  .middle {
    background-image: url("./Assets/Images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
}
